/*

__/\\\\\\\\\\\\\\\__/\\\\\\\\\\\__/\\\\\\\\\\\\\\\_______/\\\\\___________________/\\\\\\\\\_____/\\\\\\\\\\\_______/\\\\\\\\\\\___        
 _\///////\\\/////__\/////\\\///__\///////\\\/////______/\\\///\\\______________/\\\////////____/\\\/////////\\\___/\\\/////////\\\_       
  _______\/\\\___________\/\\\___________\/\\\_________/\\\/__\///\\\__________/\\\/____________\//\\\______\///___\//\\\______\///__      
   _______\/\\\___________\/\\\___________\/\\\________/\\\______\//\\\________/\\\_______________\////\\\___________\////\\\_________     
    _______\/\\\___________\/\\\___________\/\\\_______\/\\\_______\/\\\_______\/\\\__________________\////\\\___________\////\\\______    
     _______\/\\\___________\/\\\___________\/\\\_______\//\\\______/\\\________\//\\\____________________\////\\\___________\////\\\___   
      _______\/\\\___________\/\\\___________\/\\\________\///\\\__/\\\___________\///\\\___________/\\\______\//\\\___/\\\______\//\\\__  
       _______\/\\\________/\\\\\\\\\\\_______\/\\\__________\///\\\\\/______/\\\____\////\\\\\\\\\_\///\\\\\\\\\\\/___\///\\\\\\\\\\\/___ 
        _______\///________\///////////________\///_____________\/////_______\///________\/////////____\///////////_______\///////////_____


Basic styles for the Tito widget: use and abuse.

Version: 1.1

Docs are here: http://ti.to/docs/widget

Ping us at support@tito.io if you need any help.

Have fun.

*/
*{box-sizing:border-box}.tito-wrapper{border:1px solid #ccc;background:rgba(0,0,0,0.02);font-family:sans-serif;color:#333;margin:20px auto;max-width:900px;padding:10px 0 0 0;width:100%}.tito-ticket-list{display:block;list-style-type:none;margin:0;padding
